<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/preparation.css">
    <link rel="icon" type="image/png" href="/static/logo-no-bckgrnd.png" sizes="64x64"/>
    <title>Préparation</title>
</head>
<body>
    <div class="button-container">
        <button class="button gauche" onclick="location.href='/'">←</button>
        <button class="button droite" onclick="location.href='/graph'">INTERAGIR</button>
    </div>

    <div id="content">
        <form action="/preparation/visualizer" method="post" onsubmit="loading()">

            <button type="button" id="data-toggle" onclick="data_switch()"><strong>Choisir les données</strong></button>

            <p id="data-text" style="font-size: 26px;">Taille des données (voir le bouton vert à gauche pour choisir les nombres)</p>
            <input type=hidden id="choix" name="choix" value="1">
            <input type="range" id="array-length" name="array-length" min="1" max="16" value="8">
            <input type="text" id="array-values" name="array-values" pattern=".*" oninvalid="this.setCustomValidity('Suivez le format demandé...')" oninput="this.setCustomValidity('')">


            <p>Vitesse</p>
            <input type="range" id="speed" name="speed" min="200" max="1600" value="1000">

            <button type="submit" name="tri" value="pigeon" style="background-color: #e7c500;" onMouseOver="this.style.background='#bea202'" onMouseOut="this.style.background='#e7c500'">Tri pigeon</button>

            <button type="submit" name="tri" value="bulles" style="background-color: #0072c6;" onMouseOver="this.style.background='#025b9b'" onMouseOut="this.style.background='#0072c6'">Tri à bulles</button>
            <button type="submit" name="tri" value="selection" style="background-color: #0072c6;" onMouseOver="this.style.background='#025b9b'" onMouseOut="this.style.background='#0072c6'">Tri par sélection</button>
            <button type="submit" name="tri" value="insertion" style="background-color: #0072c6;" onMouseOver="this.style.background='#025b9b'" onMouseOut="this.style.background='#0072c6'">Tri par insertion</button>
            <button type="submit" name="tri" value="cocktail" style="background-color: #0072c6;" onMouseOver="this.style.background='#025b9b'" onMouseOut="this.style.background='#0072c6'">Tri cocktail</button>
            <button type="submit" name="tri" value="gnome" style="background-color: #0072c6;" onMouseOver="this.style.background='#025b9b'" onMouseOut="this.style.background='#0072c6'">Tri gnome</button>
            <button type="submit" name="tri" value="comptage" style="background-color: #629e01;" onMouseOver="this.style.background='#4a7702'" onMouseOut="this.style.background='#629e01'">Tri comptage</button>
            <button type="submit" name="tri" value="shell" style="background-color: #039494;" onMouseOver="this.style.background='#036f77'" onMouseOut="this.style.background='#039494'">Tri de Shell</button>

            <button type="submit" name="tri" value="peigne" style="background-color: #8504a5;" onMouseOver="this.style.background='#690283'" onMouseOut="this.style.background='#8504a5'">Tri à peigne</button>





        </form>
    </div>

    <div id="loader" class="dots-bars-5"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>
