<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/visualizer-3D.css">
  <link rel="icon" type="image/png" href="/static/logo-no-bckgrnd.png" sizes="64x64"/>
  <title>3D</title>
</head>
<body>

  <div class="button-container">

    <button class="button gauche" onclick="location.href='/preparation/visualizer'">←</button>

    <button class="button droite" onclick="location.href='/graph'">INTERAGIR</button>
  </div>

  <div class="algorithm-container">

    <div class="first-algo">
          {{ algo_3D_template | safe }}
    </div>

  </div>

  <script src="/static/js/script.js"></script>

</body>
</html>
