<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/visualizer-2.css">
  <link rel="icon" type="image/png" href="/static/logo-no-bckgrnd.png" sizes="64x64"/>
  <title>Comparaison</title>
</head>
<body>

  <div class="button-container">

    <button class="button gauche" onclick="location.href='/preparation/visualizer'">←</button>

    <button class="button droite" onclick="location.href='/choose-interact'">INTERAGIR</button>
  </div>



  <div class="algorithm-container">


    <div class="first-algo">
      <div class="algo-video">
        {{ premiere_algo_template | safe }}
      </div>

      <p class="arrow" >&#10159;</p>

      <div class="algo-explanation">
        <ul>
          {% for element in explications_1 %}
          <li><strong>{{ element | safe }}</strong></li>
          <br>
          {% endfor %}
        </ul>
      </div>
    </div>

    <button class="button3D" onclick="location.href='/preparation/visualizer-3D-2'"><strong>3D</strong></button>


    <div class="compare-algo">
      <div class="algo-video">
        {{ deuxieme_algo_template | safe }}
      </div>

      <p class="arrow-2" >&#10159;</p>

      <div class="algo-explanation">
        <ul>
          {% for element in explications_2 %}
          <li><strong>{{ element | safe }}</strong></li>
          <br>
          {% endfor %}
        </ul>
      </div>
    </div>
    

  </div>

  <script src="/static/js/script.js"></script>

</body>
</html>
