<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/choose-interact.css"/>
    <link rel="icon" type="image/png" href="/static/logo-no-bckgrnd.png" sizes="64x64"/>
    <title>Choisissez</title>
  <body>

    <div class="button-container">
      <button class="button gauche" onclick="location.href='/preparation'">VISUALISER</button>

      <button class="button droite" onclick="location.href='/'">←</button>
    </div>

    
    <div class="button-choose-interact">

        <button class="button graph" onclick="location.href='/choose-interact/graph'">Graphique interactif</button>
  
        <button class="button quiz" >En développement</button>

        <button class="button course" >En développement</button>
  
        <button class="button reco" >En développement</button>

    </div>

    <script src="/static/js/script.js"></script>
  </body>

</html>
