<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css"> <!-- Importe la feuille de style CSS -->
    <title>TriPy</title> <!-- Titre de la page -->
</head>
<body>
    <div id="content"> <!-- Début de la div "content" qui contiendra le formulaire de tri -->
    
    <h1>TriPy</h1> <!-- Titre principal de la page -->

    <form action="/tri" method="post" onsubmit="loading()"> <!-- Formulaire pour choisir la longueur de l'array et l'algorithme de tri -->
        <p>Choisissez la longueur de l'array à trier :</p> 
        <input type="range" id="array-length" name="array-length" min="1" max="30" value="15" oninput="updateLength()"> <!-- Input pour choisir la longueur de l'array -->
        <span id="array-length-value">-</span> <!-- Affichage dynamique de la valeur de l'input -->

        <p>Choisissez la vitesse de la visualisation :</p>
        <input type="range" id="speed" name="speed" min="200" max="1600" value="900"> <!-- Input pour choisir la vitesse de la vidéo -->

        <p>Choisissez l'algorithme que vous souhaitez visualiser :</p> 
        <button type="submit" name="sort" value="selection">Tri par sélection</button> <!-- Bouton pour lancer le tri par sélection -->
        <button type="submit" name="sort" value="insertion">Tri par insertion</button> <!-- Bouton pour lancer le tri par insertion -->
        <button type="submit" name="sort" value="bubble">Tri à bulles</button> <!-- Bouton pour lancer le tri à bulles -->
    </form>

    </div> 

    <div id="loading"> <!-- Div "loading" qui s'affiche pendant le chargement du tri -->
        <img src="static/settings.gif" alt="Loading..."> <!-- Image de chargement -->
    </div>
       
    <script src="static/js/script.js"></script> <!-- Importe le script JavaScript -->
</body>
</html>
